*{
margin: 0;
padding: 0;
}
body, #app{
  width: 100vw;
  height: 100vh;
}
.header{
  width: 100vw;
  height: 20vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: right;
}
.boton-opiniones{
  width: 150px;
  height: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.section-reviews{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review1, .review2, .review3 {
  width: 40%;
  height: 30%;
}
.container-img-nombre{
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
}