
*{
  margin: 0;
}
body{
  width: 100vw;
  height: 100vh;
}
#app{
  height: 100vh;
}
.containerPlantilla{
 
  margin-inline-start: 243px;
  margin-inline-end: 286px;
  margin-block-start: 45px ;
}
.containerLi{
  display:inline-flex;
  border-radius: 65px;
  border: 1px solid #8A6DFF;
  margin-block-start: 15px;
  list-style: none;
  padding: 5px;
  color: #5D00B9; 
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; 
  letter-spacing: -0.14px;
  text-align: center;
}


