#app {
text-align: center; 
margin-top: 50px; /*Añade un margen superior para separar del borde superior */
}
.container-card{
display: flex;
margin-inline-start: 218px;
width: 856px;
padding: 60.883px;
flex-direction: column;
align-items: center;
gap: 13.837px;
border-radius: 15.221px;
background: var(--Color, #FFF);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
opacity: 0px;
margin-bottom: 30px;
}
.contenedor-Principal{
top: 779px;
left: 218px;

}
.contenedor-card {
margin: 0 auto; 
}
.card1{
display: flex;
gap: 10px;
}
.card-respuesta{
margin-bottom: 5%;
}
.imagen-tarjeta img {
display: flex;
width:80.26px;
height:80.26px;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.text-rating {
display: flex;
flex-direction: column;
top: 67.8px;
left: 159.13px;
gap: 14.87px;
opacity: 0px;
align-items: flex-start;
}
.text1 {
font-family: Plus Jakarta Sans;
font-size: 16.6px;
font-weight: 400;
line-height: 24.91px;
text-align: left;
color: #6A6A6A;
}
.cuadro{
display: flex;
gap: 10px;
font-family: Montserrat;
font-size: 19.37px;
font-weight: 500;
line-height: 27.67px;
text-align: left;
color: #344054;
margin: 0 auto;
}
.responder{
top: 312.72px;
left: 159.13px;
gap: 8.3px;
opacity: 0px;
box-shadow: 0px 1.38px 2.77px 0px #1018280D;
}
.gracias-opinion{
padding: 13.84px 19.37px 13.84px 19.37px;
gap: 11.07px;
border-radius: 10px 10px 10px 10px;
opacity: 0px;
background: #FFFFFF;
border: 1.38px solid #D0D5DD;
box-shadow: 0px 1.38px 2.77px 0px #1018280D;
}
.gracias-opinion >p{
width: 596.38px;
height: 149.12px;
gap: 0px;
opacity: 0px;
font-family: Montserrat;
font-size: 22.14px;
font-weight: 400;
line-height: 33.21px;
text-align: left;
color: #667085;
}
.btn-responder{
background-color: #FFFFFF;
border: none;
color: #344054;
margin-top: 18px; 
margin-bottom: 10%;
width: 140px;
font-size: 17.28px;
padding: 15.36px 26.88px 15.36px 26.88px;
border-radius: 8px;
cursor: pointer;
transition-duration: 0.4s;
}
.btn-responder:hover{
  background-color: #7f56d9;
  color: #FFFFFF;
}

.btn-cancelar{
margin-top: 18px;
margin-bottom: 10% ;
width: 140px;
color: #344054;
font-size: 17.28px;
padding: 15.36px 26.88px 15.36px 26.88px;
border-radius: 8px;
background-color: #FFFFFF;
border: none;
cursor: pointer;
transition-duration: 0.4s;
}
.btn-cancelar:hover{
  background-color: #7f56d9;
  color: #FFFFFF;
}

.container-estrellas{
  display: flex;
  flex-direction: row;
}


@media screen and (max-width: 576px){
  .container-card{
      width: 100%;
      margin: 0;
      padding: 10px;
  }
  .contenedor-Principal{
      width: 100%;
      
  }
  .cuadro{
    width: 100%;
  }
  .card-respuesta img, .imagen-tarjeta img{
    width: 50px;
    height: 50px;
  }
  .container-respuesta{
    width: 80%;
  }
  .container-respuesta p{
    font-size: 10.56px;
  }
  .text-rating{
    padding: 10px;
  }
  .text1{
    font-size: 10.56px;
  }
  .responder-1{
    display: flex;
    flex-direction: row;
  }
  .responder-1 button{
    font-size: 10.56px;
  }
}
@media screen and (max-width: 800px){
  .container-card{
    width: 100%;
    margin: 0;
    padding: 10px;
}
.contenedor-Principal{
    width: 100%;
    
}
.cuadro{
  width: 100%;
}
.card-respuesta img, .imagen-tarjeta img{
  width: 50px;
  height: 50px;
}
.container-respuesta{
  width: 80%;
}
.container-respuesta p{
  font-size: 10.56px;
}
.text-rating{
  padding: 10px;
}
.text1{
  font-size: 10.56px;
}
.responder-1{
  display: flex;
  flex-direction: row;
}
.responder-1 button{
  font-size: 10.56px;
}
}