
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body, #app{
  width: 100vw;
  height: 100vh;
}

.container-img-nombre{
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
  justify-content: center;
}
.card{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 291px;
  height: 362.4px;
  justify-content: space-evenly;
  border: 1px solid white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  
}
.container-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.text{
  color: #6A6A6A;
}
.link{
  text-decoration: none;
  color:#97509F;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  padding: 40px;
  right: 0;
}
.slideshow-img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}